/Announcements.indigoPlugin/Contents/Server Plugin/Tests/
/Announcements.indigoPlugin/Contents/Server Plugin/requirements.txt
/Announcements.indigoPlugin/Contents/Server Plugin/.ENV
/Announcements.indigoPlugin/Contents/Server Plugin/indigo_devices_filters.py
/Announcements.indigoPlugin/Contents/Server Plugin/httpcodes.py
CLAUDE.md
