# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
*.egg-info/
dist/
build/
*.pyc
.ruff_cache/
.pytest_cache/

# PyCharm / JetBrains
.idea/

# Environment
.env
tests/.env

# Claude / Project
CLAUDE.md
.gitignore
